  h1 {
      background-color: rgb(255, 255, 255);
      width: 200px;

  }

  section {
      background-color: rgb(164, 171, 176);
      color: rgb(47, 0, 255);

  }

  table {
      background-color: coral;
      color: white;

  }

  body {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }



  #pangolin-special {
      background-color: green;
      color: rgb(253, 253, 253);
  }

  .yellow-class {
      color: yellow;
  }

  /* Outros Seletores */

  div>h2 {
      color: rgb(0, 234, 255);
  }

  /* seletor de estados */

  #nav:hover {
      background-color: aqua;
  }

  body {
      background-color: rgb(186, 186, 186);
  }

  #nav {
      color: blue;

  }

  h6 {
      color: yellow;
  }

  #image-box {

      display:flex
      width: 300px;
      height: 300px;
      background-color: rgb(165, 234, 255);
      border: solid white 2px;
      border-radius: 5%;
     margin: auto;
  }

  #presentation-box {
      display: flex
      width: 300px;
      height: 200px;
      background-color: beige;
      border: solid 3px white;
      border-radius: 3%;
      padding: 50px 15px 0px 15px;
      text-align: center;
      margin: 5% auto;
  }

  #menu {
      position: fixed;
      left: 1250px;
  }

  /* *media queries (aplicação visual em casos especificos: mobile, print) sempr eno fim do documento */
  @media print {
      #nav {
          display: none;
      }

  }

  @media (min-width:500px){
    #image-box{
        background-color: brown;
    }

  }